# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Pods/
android/.gradle/
android/app/build/

# Visual Studio Code
.vscode/

# IntelliJ related
*.iml
.idea/

# Others
*.log
